.green-what {
  background-color: #1caf8b;
}

nav {
  background-color: #1caf8b;
  box-shadow: none;
}

body {
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-size: 50%;
}
